body{
background-color: #AEC6CF;



}
.dep-cont{
   display: flex; 
   justify-content: space-around;
   flex-wrap: wrap;
   gap: 30px;
}
.sub{
    width: 200px;
    height: 250px;
    background-color: rgb(220, 213, 213);
    border-radius: 8px;
    text-align: center;
    padding: 30px;
    transition: 1s;

}
.icon{
    width: 80px;
    height: 80px;
}
.pedi-icon{
     width: 130px;
     height: 100px;
}
p{
    font-size: 20px;
    padding: 10px;
    text-transform: capitalize;
}
a{
    text-decoration: none;
}
.sub:hover {
    box-shadow: 12px 12px 12px 0 #70a1b3 , -8px -8px 12px 0 #70a1b3 ;
    border-radius: 25px;
    transform: translateY(-10px)
}